<div id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Options:</strong>
    <%= question.options %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= question.mode %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

</div>
