<p id="notice"><%= notice %></p>

<%= paginate @fates %>

<h1>&nbsp;</h1>

<table width="100%">
  <thead>
    <tr>
      <th>title</th>
      <th>content</th>
      <th colspan="3">operations</th>
    </tr>
  </thead>

  <tbody>
    <% @fates.each do |fate| %>
      <tr>
        <td><%= fate.title %></td>
        <td><%= fate.content[0,40] %></td>
        <td><%= link_to 'Show', fate %></td>
        <td><%= link_to 'Edit', edit_fate_path(fate) %></td>
        <td><%= link_to 'Destroy', fate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Fate', new_fate_path %>


