<div id="article-related">

  <div class="article-neighbour">
    <div class="article-prev-next">
      <%  if @data[:start_pos] && @data[:start_pos]!=0 %>
        <%= link_to '上一页', {:action => 'prev', :start_pos => @data[:start_pos], :id => @data[:id]},data: {turbo_method: :post,turbo_frame: 'content_frame'} %>
      <% end %>
    </div>

    <div class="article-prev-next">
      <%  if @data[:neof] %>
        <%= link_to '下一页', {:action => 'next', :start_pos => @data[:end_pos] || 0, :id => @data[:id]},data: {turbo_method: :post,turbo_frame: 'content_frame'} %>
      <% end %>
    </div>
  </div>
</div>
<ul>
  <% @data[:lines].each do |line| %>
    <li><%= line %></li>
  <% end %>
</ul>

<div id="article-related">
  <div class="article-neighbour">
    <div class="article-prev-next">
      <%  if @data[:start_pos] && @data[:start_pos]!=0 %>
        <%= link_to '上一页', {:action => 'prev', :start_pos => @data[:start_pos], :id => @data[:id]},data: {turbo_method: :post,turbo_frame: 'content_frame'} %>
      <% end %>
    </div>
    <div class="article-prev-next">
    <%  if @data[:neof] %>
      <%= link_to '下一页', {:action => 'next', :start_pos => @data[:end_pos] || 0, :id => @data[:id]},data: {turbo_method: :post,turbo_frame: 'content_frame'} %>
    <% end %>
    <br>
    <br>
  </div>
</div>
</div>


