<style type="text/css">

  #main-table td {
    text-align: left;
    text-indent: 20px;
    line-height: 30px;
  }

  input[type='checkbox'], input[type='radio'] {
    height: 30px;
    width: 30px;
    zoom:101%;
  }

  .checkbox_text {
    /*color: forestgreen;*/
    font-size: 24px;
    line-height: 30px;
    vertical-align: top;
    padding-left: 10px;
  }

  .ssr_text {
    color: rgb(232, 112, 30);
    font-size: 24px;
    line-height: 30px;
    padding-left: 10px;
  }

  .sp_text {
    color: rgb(248, 45, 58);
    font-size: 24px;
    line-height: 30px;
    padding-left: 10px;
  }

  .sj_text {
    color: rgb(248, 45, 58);
    font-size: 24px;
    line-height: 50px;
    vertical-align: top;
    padding-left: 10px;
  }

  .hd_text {
    color: blue;
    font-size: 24px;
    line-height: 50px;
    vertical-align: top;
    padding-left: 10px;
    font-weight: bold;
  }


  .text_tag {
    width: 150px;
    height: 54px;
    padding: 6px 12px;
    font-size: 30px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .mode-label {
    padding: 5px 5px;
    border: 1px solid darkgray;
    border-radius: 5px;
    display: inline-table;
    min-width: 140px;
    vertical-align: middle;
  }

  .check {
    background: #e8d811;
  }

  .uncheck {
    background: darkgray;
  }

  .mode-label > input[type='checkbox'] {
    vertical-align: bottom;
  }

  .tips {
    color: blue;
  }

  .main-li {
    list-style: none;
  }

  .hd-text{
    margin-left: 42px;
    color: blue;
    font-size: 24px;
    font-weight: bolder;
  }

  /*.hd-badge {*/
  /*  display: inline-block;*/
  /*  line-height: 30px;*/
  /*  font-size: 24px;*/
  /*  vertical-align: top;*/
  /*  margin-left: 20px;*/
  /*  padding: 5px;*/
  /*}*/
</style>

<div id="tools" style="color: #0681ba;position: absolute;min-height: 200px;left: 570px;min-width: 500px;">
  <table>
    <tr>
      <td>

        <!--        <div class="collapse" id="collapse11">-->
        <!--          <div>-->
        <!--            传说中的“鸟居”<br><br>-->
        <%#= image_tag image_path('yys/summon/12-1.png'), size: "500x235", style: 'display:inline' %>
        <!--          </div>-->
        <!--        </div>-->
        <ul>
          <li>
            日常:
            <ul>
              <li>500天签到奖励-<span class="tips"><%= image_tag image_path('yys/res-4.png'), size: "60x60" %>*1</span></li>
              <li>(1~3)个地域鬼王通关-<span class="tips"><%= image_tag image_path('yys/res-2.png'), size: "60x60" %>
                *(20~60)</span></li>
              <li>好友协战50次-<span class="tips"><%= image_tag image_path('yys/res-2.png'), size: "60x60" %>*50</span></li>
              <li>每日任务勇气值达到100-<span class="tips"><%= image_tag image_path('yys/res-2.png'), size: "60x60" %>*20</span>
              </li>
            </ul>

          </li>
        </ul>
      </td>
      <td>
        <ul style="display: inline-block;">
          <li>周常:
            <ul>
              <li>式神图鉴分享-<span class="tips"><%= image_tag image_path('yys/res-4.png'), size: "60x60" %>*1</span></li>
              <li>任意地域鬼王通关后分享-<span class="tips"><%= image_tag image_path('yys/res-2.png'), size: "60x60" %>*20</span>
              </li>
              <li>秘闻副本通关后分享-<span class="tips"><%= image_tag image_path('yys/res-2.png'), size: "60x60" %>*20</span>
              </li>
              <li>杂货店480勋章兑换-<span class="tips"><%= image_tag image_path('yys/res-5.png'), size: "60x60" %>*1</span>
              </li>
              <li>杂货店180勋章兑换-<span class="tips"><%= image_tag image_path('yys/res-4.png'), size: "60x60" %>*1</span>
              </li>
              <li>杂货店120勋章兑换-<span class="tips"><%= image_tag image_path('yys/res-1.png'), size: "60x60" %>*100</span>
              </li>
              <li>寮功勋商店120功勋兑换*2-<span class="tips"><%= image_tag image_path('yys/res-4.png'), size: "60x60" %>*2</span>
              </li>
              <li>寮功勋商店200功勋兑换-<span class="tips"><%= image_tag image_path('yys/res-6.png'), size: "60x60" %>
                *(3~5)</span></li>
              <li>协同斗技获胜一次-<span class="tips"><%= image_tag image_path('yys/res-2.png'), size: "60x60" %>
                *60(下周发放)</span></li>
              <li>真·八岐大蛇(60体力)*2-<span class="tips">六星随机御魂*n,<%= image_tag image_path('yys/res-3.png'), size: "60x60" %>
                *n</span></li>
            </ul>
          </li>


        </ul>
      </td>
    </tr>
  </table>


</div>



<div style="padding-left: 20px;width: 300px;">
  <span style="color: blue;font-size: 20px;padding-right: 20px;">抽卡模拟器</span>
  <button type="button" style="padding: 5px 5px;display: inline" data-toggle="modal" data-target="#versionModal">更新日志(v0.3.2)</button>
</div>

<div class="modal" id="versionModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">更新日志</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span style="color: blue;">
          v0.3.2:添加缘结神召唤活动<br>
          由于召唤活动通常会伴随三次up，所以将三次up和概率up合并了<br>
        </span>
        <hr>
        v0.3.1:添加活动：丑时之女·椿裳生花
        <hr>
        v0.3.0:修复了未收录时，未计算神眷的bug，合并了神眷的显示
        <hr>
        v0.2.9:修复了伪全图神眷概率不正确的问题
        <hr>
        v0.2.8:添加了未收录+神眷的召唤模拟
        <hr>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modeModal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">图鉴情况</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag('/yys/cards', method: :post, remote: true) do %>
        <div class="modal-body">
          <div id="mode-div">

            <% user_shi_shen_atlas.each_with_index do |ss, i| %>
              <label class="mode-label <%= ss.owned ? 'check' : 'uncheck' %>">
                <%= check_box_tag 'sids[]', ss.sid, ss.owned %><%= ss.name %>
              </label>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div style="padding-top: 10px;">
  <%= form_tag('/yys/summon', method: :post, remote: true) do %>

    <ul id="main-ul">
      <li class="main-li">

        <%= image_tag image_path 'yys/card.jpg' %><%= number_field_tag 'number', 200, required: true, :max => @max_count, :class => 'text_tag', required: true %>
        <%= image_tag image_path('yys/tip.jpg'), size: "32", title: "输入你要抽取的数量，最大" + @max_count.to_s + "抽" %>

      </li>
      <!--      <tr>-->
      <!--        <td colspan="2">-->
      <%#= check_box_tag 'hd',1,true %>
      <!--          <span class="badge-primary" style="display: inline-block;line-height: 30px;vertical-align: top;">活动：「丑时之女·椿裳生花」</span>-->
      <!--        </td>-->
      <!--      </tr>-->
      <li class="main-li">
        <%= hidden_field_tag 'hd', 'SP' %>
        <span class="hd-text">召唤：浮世青行灯</span>
      </li>
      <!--      <tr>-->
      <!--        <td colspan="2"><%#= radio_button_tag 'spec_up', 'SP', false %>-->
      <!--          <span class="sp_text">天剑韧心鬼切</span><span class="sp_text" style="color: black;">(概率up)</span></td>-->
      <!--      </tr>-->
      <!--      <tr>-->
      <!--        <td colspan="2" style="line-height: 50px;"><%#= hidden_field_tag 'spec_up', 'SJ' %>-->
      <!--          <span class="sj_text">未收录+神眷</span>-->
      <!--          <button type="button" class="btn btn-info" style="padding: 5px 5px;display: inline;line-height: 30px;" data-toggle="modal" data-target="#modeModal">图鉴情况</button>-->
      <!--        </td>-->
      <!--      </tr>-->
      <li class="main-li">
        <%= check_box_tag 'mode' %><span class="checkbox_text">全图鉴</span>
      </li>
      <li class="main-li">
        <%= check_box_tag 'cartoon' %><span class="checkbox_text">展示抽卡动画</span>
        <%#= image_tag image_path('tip.jpg'), size: "32", title: '在召唤出ssr/sp式神时，会展示对应抽卡动画', style: 'vertical-align:top;' %>
      </li>
      <li class="main-li">
        <%= submit_tag '召唤', :class => 'btn btn-primary' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'yys抽卡概率变迁', {action: 'rate'}, target: '_blank' %>
      </li>
    </ul>
  <% end %>
</div>
<div id="result" style="text-indent: 20px;max-width: 335px;">
</div>

<div id="rate_div" style="max-width: 335px;">

</div>












