<div id="<%= dom_id post %>">


  <h1><%= post.title %></h1>
  <div class="post-show-timestamp">
    <strong>发布时间：</strong>
    <%= time_tag post.created_at, "data-local": "time-ago" %>
  </div>
  <div class="post-show-content">
    <br>
    <hr>
    <div>
      <%= post.content %>
    </div>

    <hr>
    <div>
      <%= pluralize post.comments.count, "comment" %>
    </div>
    <br>
  </div>



</div>
