<div style="width: 80%">
  <p>
      <%= link_to t('action.new'), new_post_path %>
  </p>
  <% if @posts.each_with_index do |post,i| %>
    <div class="post-row">
      <div class="post post-comment-count"><%= post.comments.count %></div>
      <div class="post post-title"><%= link_to post.title, post %></div>
      <div class="post post-create">
        <span class="post-common"><%= post.created_by_name || "Anonymous" %></span><br>
        <span class="post-date"><%= time_tag post.created_at, "data-local": "time-ago" %></span>
      </div>

      <div class="post post-create">
        <% if post.comments.last %>
        <span class="post-date"><%= time_tag post.comments.last.created_at, "data-local": "time-ago" %> </span><br>
          <span class="post-common"><%= post.comments.last.created_by_name%></span>
          <% else %>
          <span class="post-date"><%= time_tag post.created_at, "data-local": "time-ago" %></span><br>
          <span class="post-common"><%= post.created_by_name %></span>
          <% end %>
      </div>
    </div>
  <% end.blank? %>
  <p><%= t('no_records') %></p>
   <% end %>
  <p>
    <%= paginate @posts %>
  </p>
</div>


