<p style="color: green"><%= notice %></p>


<div class="post-container">
  <% @posts.each do |post| %>
    <div>
      <div class="post post-comment-count"><%= post.comments.count %></div>
      <div class="post post-title"><%= link_to post.title, post %></div>
      <div class="post post-common">小明</div>
      <div class="post post-date"><%= time_tag post.created_at, "data-local": "time-ago" %></div>
    </div>
  <% end %>
  <p>
    <%= paginate @posts %>
  </p>
  <p>
    <%= link_to "New post", new_post_path %>
  </p>
</div>


