<% if user_signed_in? %>
  <%= link_to("Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }) %>
<% end %>


<div class="post-container">
  <% @posts.each do |post| %>
    <div>
      <div class="post post-comment-count"><%= post.comments.count %></div>
      <div class="post post-title"><%= link_to post.title, post %></div>
      <div class="post post-common"><%= post.created_by_name || "Anonymous" %></div>
      <div class="post post-date"><%= time_tag post.created_at, "data-local": "time-ago" %></div>
    </div>
  <% end %>
  <p>
    <%= paginate @posts %>
  </p>
  <p>
    <% if user_signed_in? %>
      <%= link_to "New post", new_post_path %>
    <% end %>
  </p>
</div>


