<div class="post-show">
  <%= turbo_stream_from @post %>
  <p style="color: green"><%= notice %></p>

  <%= render @post %>
  <%= render "posts/comments",post: @post %>

  <br>
  <div>
    <%= link_to t('action.edit'), edit_post_path(@post) %> |
    <%= link_to t('action.back'), posts_path %>

    <%= button_to t('action.delete'), @post, method: :delete %>
  </div>
</div>

