<style type="text/css">
  html, body {
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
  }

  .nav {
    max-width: 650px;
    height: 100%;
    margin: 0 auto;
    /*background: yellowgreen;*/
    display: block;
    min-height: 600px;
    padding-top: 50px;
  }

  .nav-block {
    width: 195px;
    height: 90px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 90px;
    color: black;
    border-bottom: 5px solid whitesmoke;
  }

  .nav-link {
    display: inline-block;


  }

</style>
<div>


  <div class="nav">
    <%= link_to '小说', books_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to '聊天室', rooms_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%= link_to '调色板', colors_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to '修仙', xiuxian_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to 'fate', su_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%= link_to 'elasticsearch', books_es_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to 'json解析', json_format_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%= link_to 'unicode转码', unicode_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to 'idea code', "http://idea.lanyus.com/", class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to 'wow api', "https://www.townlong-yak.com/framexml/live", class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to 'sign_md5', md5_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to 'sign_sha1', sha1_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to 'es', es_path,class: 'nav-block',style: "background:"+RgbColor.fav_color ,target: "_blank" %>
    <%#= link_to '秘籍', skills_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to '法宝', items_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to '势力', groups_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%= link_to 'yys', yys_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%= link_to '号码归属地', mobile_area_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%= link_to 'sense', sense_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
    <%#= link_to 'waiting', colors_path, class: 'nav-block', style: "background:" + RgbColor.silver %>
  </div>
</div>







