<div>
  <%= link_to '小说', books_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to '文本格式转换', encode_upload_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to '调色板', colors_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'wow', wow_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'sign', sign_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to '秘籍', skills_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <br>
  <%= link_to '法宝', items_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to '势力', groups_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to '号码归属地', mobile_area_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to '解压缩指令', compress_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to '图片转base64', img_to_base64_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'screen', screen_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <br>
</div>
<hr>
<div>
  <%= link_to '聊天室', chat_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'elasticsearch', books_es_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%#= link_to '修仙', xiuxian_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%#= link_to 'fate', su_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <br>
  <%= link_to 'json解析', json_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'unicode转码', unicode_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'yys', yys_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'sense', sense_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <br>
  <%= link_to 'markdown', markdown_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'hammerspoon', hammerspoon_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>
  <%= link_to 'authorization', authorization_path, class: 'nav-block', style: "background:" + RgbColor.fav_color, target: "_blank" %>

</div>






