<!DOCTYPE html>
<html lang="">
<head>
  <title>千羽阁</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>
<body>
<nav id="main-menu">
  <ul>
    <% category_list.each do |x| %>
      <li>
        <%= turbo_frame_tag x do  %>
        <%= link_to x.name, { action: 'category', :id => x.id },data: {turbo_method: :post,turbo_frame: 'books_list'}%>
        <% end %>
      </li>
    <% end %>
    <!--      <li>-->
    <%#= link_to '留言', {:action => 'comments'}, remote: true %>
    <!--      </li>-->
  </ul>
</nav>
<div style="position: fixed;bottom: 0;right: 0;background: white;z-index: 2">
  <button type="button" id="history-btn">阅读记录</button>
  <div id="history-div">
    <% cookies[:reading_history] && JSON.parse(cookies[:reading_history]).to_a.reverse.to_h.each do |id, name| %>
      <li class="history-li">《<%= name %>
        》&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '-->', { controller: "books", action: "show", id: id }, class: 'continue-btn' %></li>
    <% end %>
  </div>

</div>
<%= yield %>
<%= javascript_import_module_tag "books" %>
</body>
</html>
