<!DOCTYPE html>
<html>
<head>
  <title>千羽阁</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag 'global', media: 'all' %>
  <%= stylesheet_link_tag 'common', media: 'all' %>
</head>
<body>
<div class="centered-div">
  <%= yield %>
</div>
</body>
</html>

