<!DOCTYPE html>
<html>
  <head>
    <title><%= t('web_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'simple.min' %>
    <%= stylesheet_link_tag 'global' %>
    <%= stylesheet_link_tag 'post' %>
    <%= stylesheet_link_tag 'actiontext' %>
    <%= stylesheet_link_tag 'common' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="centered-div">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= link_to(t('devise.sessions.log_out'), destroy_user_session_path, method: :delete, data: { turbo_method: :delete }) %>
    <% end %>
    <%= yield %>
  </div>

  </body>
</html>
