<!DOCTYPE html>
<html>
  <head>
    <title>qianyu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tools', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript_pack_tag 'tools', 'data-turbolinks-track': 'reload' %>
</html>
