<!DOCTYPE html>
<html>
  <head>
    <title>千羽阁</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'yys', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="yys">
  <% if cookies[:nick_name] %>
    <div>你好，『<span style="color: blue;" id="nick_name"><%= cookies[:nick_name] %></span>』
      <%= link_to '更换昵称', yys_auth_path %>
      <hr>
    </div>
  <% end %>
    <%= yield %>
  </body>
  <%= javascript_pack_tag 'yys', 'data-turbolinks-track': 'reload' %>
</html>
